#about img {
    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: 300px;
    border-radius: 20px;
    margin-bottom: 10px;
}

#about a {
    text-decoration: none;
    color: inherit;
    padding-right: 10px;
}