#app {
    min-height: 100vh;
}

#container {
    max-width: 1200px;
}


@media only screen and (max-width: 575.9px) {
    .navbar-collapse {
        position: fixed;
        top: 56px;
        width: 100%;
        background-color: rgb(33,37,41);
    }
}