#app {
    min-height: 100vh;
    background-color: rgb(30, 35, 44);
}

#container {
    max-width: 1200px;
}

.navbar-brand {
    font-family: "Dancing Script";
}

.navbar {
    background-color: rgb(30, 35, 44);
}

section {
    padding-top: 60px;
}

h2 {
    font-style: bold;
    text-align: center;
    padding-bottom: 20px;
}

p {
    color: rgb(172, 172, 172);
    line-height: 1.8;
}


@media only screen and (max-width: 575.9px) {
    .navbar-collapse {
        position: fixed;
        top: 56px;
        width: 100%;
        background-color: rgb(30, 35, 44);
    }
}